/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/10/2014, 03:21:03 PM
    Author     : Roberto
*/

body {
    background-color: #3c5998;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #3c5998;  
    margin: 10px;
    //background-image: url('../img/ciencias.png')
    
}
.conteiner{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
}

.ui-state-default .icon-login{
    background-image: url(../imagenes/registro.png);
    
}


